{%- if grains.os == "junos" %}
protocols {
    lldp {
        port-id-subtype interface-name;
        port-description-type interface-description;
        interface all;
    }
}
{%- endif %}
